<footer id="page-footer" class="navbar">
	<p class="text-center custom-footer-margin">
		Piotr Marcińczyk &copy; 2017
	</p>
	<p class="text-muted text-center">
		<a href="https://www.p.lodz.pl/" class="text-muted">Lodz University of Technology</a>
	</p>
</footer>
