<div class="jumbotron x-jumbotron-compact">
  <div class="container text-center">
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <img class="img-responsive x-img-center" style="padding:8px;" src="/static/nothing-to-see.jpg" />
    <p>There is nothing to see here. Move along.</p>
  </div>
</div>