<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/heads %>
	<title><%= ejs.title %> - PSOiR AWS image processing</title>
</head>
<body>
<div id="wrap">
  <% include partials/navbar %>
  <%- include(ejs.view); %>
</div>
<% include partials/footer %>
</body>
</html>
