/* Custom stylesheet */
.x-img-center {
  margin: 0 auto;
}

.x-jumbotron-compact {
  padding: 4px;
}

.image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img {
    position:absolute;
}

label.thumb-caption {
  font-weight: normal;
  text-overflow: ellipsis;
}

/* Sticky footer */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -61px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#page-footer {
    height: 60px;
    margin-bottom: 0;
    /*background-color: #050505;*/
}

p.custom-footer-margin {
	margin: 10px 0 0 0;
}

input.form-file-fix {
    color: #c8c8c8;
}
